<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
     <class name="com.qmetry.qaf.example.test.TC1_Register"/>
      <class name="com.qmetry.qaf.example.test.TC2_RegisterFailure"/>
      <class name="com.qmetry.qaf.example.test.TC3_Login"/>
      <class name="com.qmetry.qaf.example.test.TC4_VerifyTitle"/>
      <class name="com.qmetry.qaf.example.test.TC5_Tab"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
